# GENERAL PARAMETERS
#ASSEMBLERS=( abruijn smartdenovo minimap_miniasm minimap2_miniasm ) # Define which assemblers to include
#ASSEMBLERS=( minimap_miniasm minimap2_miniasm minimap_miniasm_nanopolish minimap2_miniasm_nanopolish )
#ASSEMBLERS=( minimap_miniasm minimap2_miniasm minimap2_miniasm_nanopolish ) 
ASSEMBLERS=( minimap2_miniasm minimap_miniasm )
NB_THREADS=16


#------TOOL SPECIFIC PARAMETERS -----------
# Note: parameters in this section are required to run specific tools. These were set to work during the
#       initial set-up process. Feel free to alter them, e.g. if you want to use binaries stored at a 
#       different location. You can also add your own parameters for other tools you may use in your 
#       benchmark, but take care to avoid giving them the same name as other parameters! (e.g. by adding
#       the name of the tool to the name).

# TOOL PATHS
QUAST_PATH=/home/lanno001/bin/nobackup/quast-4.6.0

#QUAST PARAMETERS
QUAST_MIN_IDENTITY=90.0

# NANOPOLISH PARAMETERS
# Note: used if Nanoplish is run using scripts/nanopolish_std.sh
NP_PARALLEL_JOBS=8
NP_MIN_CANDIDATE_FREQ=0.1

# Add/modify extra parameters for Nanopolish below here. Mind the space at the end!
NP_OPTIONAL_PARAMETERS+="--faster " 
#NP_OPTIONAL_PARAMETERS+="--methylation-aware=dcm,dam "


READS_DIR=/mnt/nexenta/lanno001/nobackup/readFiles/ecoliLoman/ecoliLoman_mapped_fq_subset2
REF_FILE=refgenomes/ecoli_k12_mg1655.fasta
REFGENOME_SIZE=4641652
INT=/mnt/nexenta/lanno001/nobackup/int_ab_20180321 
COVERAGE=0
TOOL_DIR=/home/lanno001/assemblerBenchmark
FAST5_BOOL=false
